
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow" >
<test name="flow1">
    <classes>

    </classes>
</test>
<test name="flow2">
    <classes>

    </classes>
</test>
<test name="flow3">
    <classes>

    </classes>
</test>

</suite>